<!DOCTYPE html>
<html>
<head>
<title>SIPLAB</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
</head>
<body>
<form action="." method="POST" id="form1" name="form1">
    {% csrf_token %}
    <table>
        <tr>
            <table border="1">
                <tr>
                    <td><h3>Servidor</h3></td>
                    <td><h3>Estado</h3></td>
                </tr>
                <tr>
                    <td>SIP</td>
                    <td>{{ sip_server }}</td>
                    <td><input type="submit" name="{{ sip_button }}" id="start_sip" value="{{ sip_server_button }}"></td>
                </tr>
                <tr>
                    <td>DHCP</td>
                    <td>{{ dhcp_server }}</td>
                    <td><input type="submit" name="{{ dhcp_button }}" id="start_dhcp" value="{{ dhcp_server_button }}"></td>
                </tr>
                <tr>
                    <td>NTP</td>
                    <td>{{ ntp_server }}</td>
                    <td><input type="submit" name="{{ ntp_button }}" id="start_ntp" value="{{ ntp_server_button }}"></td>
                </tr>
            </table>
        </tr>
        <tr>
          <td></td>
          <td></td>
        <td></td>
        </tr>
    </table>
    <hr>
    <table border="1">
        <tr>
            <td>
                <h3>Usuarios</h3>
            </td>
            <td>
                <h3>Estado</h3>
            </td>
            {% for user in users %}
            <tr>
                <td>
                    {{ user.0 }}
                </td>
                <td>
                    {% if user.1 = None %}
                        Unregistered
                    {% elif user.1 = 1 %}
                        Registered
                    {% endif %}
                </td>
                <td>
                    {{ user.2 }}
                </td>
                <td>
                    {{ user.3 }}
                </td>
            </tr>
            {% endfor %}
        </tr>
    </table>
    <br>
    <table>
        <tr>
            <td>
            <select name="users_list" id="users_list" onchange="change_user()">
                <option value="0">-</option>
                {% for user in users %}
                    {% if user.1 = 1 %}
                        <option value="{{ user.0 }}1">{{ user.0 }}</option>
                    {% else %}
                        <option value="{{ user.0 }}2">{{ user.0 }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            </td>
            <td>
            <input type="submit" name="del_user" id="del_user" value="Remove User">
            <input type="submit" name="unregister_user" id="unregister_user" value="Unregister User">
            </td>
        </tr>
    </table>
<hr>
<br>
<table>
    <tr>
        <td>User name:<input type="text" name="user_name" id="user_name"></td>
        <td>Password:<input type="text" name="user_pass" id="user_pass"></td>
        <td>Expire time:<input type="text" name="user_exp" id="user_exp"></td>
        <td><input type="submit" name="add_user" id="add_user" value="Add user"></td>
    </tr>

</table>
<input type="text" name="actual_user" id="actual_user" hidden>
</form>


<script type="text/javascript">
    window.onload = function loadwin()
    {
        document.getElementById("unregister_user").disabled = true;
        document.getElementById("del_user").disabled = true;
        {% if server_error %}
            alert("{{ server_error }}");
        {% endif %}
        {% if no_root %}
            alert('No root privileges');
        {% endif %}
        {% if add_user_fault %}
            alert({{ add_user_fault }});
        {% endif %}

    };

    function change_user()
    {
        element = document.getElementById('users_list');
        name = element.value;
        document.getElementById("actual_user").value = name.substr(0,name.length-1);
        if (document.getElementById('users_list').selectedIndex == '0')
        {
            document.getElementById("unregister_user").disabled = true;
            document.getElementById("del_user").disabled = true;
        }
        else
        {
            document.getElementById("del_user").disabled = false;
        }
        if (name.substr(name.length-1,1) == 2)
        {
             document.getElementById("unregister_user").disabled = false;
        }
        else
        {
            document.getElementById("unregister_user").disabled = true;
        }
    }
</script>
</body>
</html>